.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ffffff 0%, #90caf9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader-image {
    width: 150px;
    /* Adjust size as needed */
    height: auto;
    animation: zoomIn 1.5s ease-out forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1.2);
        /* Zoom in effect */
        opacity: 1;
    }
}